body {
    font-family: Arial;
    text-align: center;
}

#products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 150px;
}